.features {
    display: flex;
    gap: 30px;

    &__item {
            width: 270px;
        }
    
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            height: 120px;
            background: var(--icon-bacground-color);
            border-radius: 4px;
        }
    
        &__title {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--title-text-color);
        }
    
        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            color: var(--primary-text-color);
        }
}

