.portfolio-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 50px;

    @media screen and (min-width: 768px){

        justify-content: center;
    }

          @media screen and (min-width: 1200px) {
              justify-content: center;
              margin-bottom: 50px;
          }

    &__button.current {
            border: none;
            color: var(--button-text-hover-color);
            background: var(--button-bacground-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
    
        &__button {
            font-family: inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            border: none;
            padding: 6px 22px;
            border-radius: 4px;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
            background: var(--section-team-color);
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: var(--button-bacground-color);
                color: var(--button-text-hover-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            }
        }
}

