.backdrop {
position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 2;
        overflow-y: scroll;
        padding: 93px 15px;
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
position: relative;
    margin-left: auto;
    margin-right: auto;
    max-height: 650px;
    max-width: 450px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    transition: transform 400ms linear, border-radius 500ms linear;

    
    @media screen and (min-width: 375px) and (max-width: 1199.5px) {
            max-height: 609px;
        }
    
        @media screen and (min-width: 1200px) {
            max-height: 581px;
            max-width: 528px;
        }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 50%;
}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--modal-color);

}

.modal__input {
    display: flex;
    position: relative;
    outline: transparent;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&::placeholder {
        color: var(--modal-placeholder);
    }
        &:focus {
            border-color: var(--modal-icon-color);
        }
    
        &:focus+.modal__icon {
            fill: var(--modal-icon-color);
        }
}

.input-wrap {
    position: relative;
}



.modal__icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: row;
}



.modal-lable {
    margin-bottom: 10px;
    display: block;

    &__text {
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }
                & span {
                    display: block;
                }
    &__checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        line-height: 24px;
        margin-bottom: 30px;
        align-items: center;
    }
}

.modal__input.feedback {
    height: 120px;
}

.modal__textarea{
    width: 100%;
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, .2);
        border-radius: 4px;
        outline: rgba(0, 0, 0, 0);
        resize: none;
}

.textarea-wrap {
    margin-bottom: 20px;

    &>.modal__input {
            resize: none;
            padding: 12px 16px;
        }
    
        &>.modal__input::placeholder {
            color: rgba(117, 117, 117, 0.5);
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }
}



.modal-lable__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 24px;
    margin-bottom: 30px;
    align-items: center;
}

.agreement-text {
    margin-left: 8.38px;
}

.agreement-condition {
    color: var(--modal-icon-color);
}

.icon__checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 3px;
    .agreement__lable:checked+& {
            border: none;
            background-image: url(../images/icon-check.svg);
        }
                  @media screen and (min-width: 375px) and (max-width: 479.5px) {
                      width: 20px;
                  }
        
                  @media screen and (min-width: 480px) {
                      width: 16px;
                  }
}




