.button {
    display: flex;
        margin-right: auto;
        margin-left: auto;
        color: var(--icon-bacground-color);
        background-color: var(--button-bacground-color);
        box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        font-family: inherit;
        min-width: 118px;
        padding: 10px 52px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
                background-color: var(--accent-hover-color)
            }
                @media screen and (min-width: 1200px) {
                    min-width: 216px;
                }
    }