.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--modal-icon-color);

    &__color--dark {
        color: var(--dark-logo-color);
    }

    &__color--light {
        color: var(--light-logo-color);
    }
         padding-top: 16px;
         padding-bottom: 16px;
    
         @media screen and (min-width: 768px) and (max-width: 1199.5px) {
             margin-right: 88px;
             padding-top: 26px;
             padding-bottom: 26px;
         }
    
         @media screen and (min-width: 1200px) {
             font-size: 26px;
             line-height: 1.2;
             margin-right: 93px;
             padding-top: 24px;
             padding-bottom: 25px;
         }
}



