.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
    &__title {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--title-text-color);
        }
}

.section-team {
    background-color: var(--section-team-color);
}
